.farm {
    &-details {
        &-img {
            
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 110px;
                height: 110px;
                border-radius: 100%;
            }
        }
        &-content {
            margin-top: 20px;
            h5 {
                color: #C7C7C7;
                font-size: 14px;
                line-height: 15px;
            }
            p {
                color: #333333;
                font-size: 16px;
                line-height: 18px;
                word-break: break-all;
            }

        }
    }
}