.farm {
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    &-title {
      color: #333333;
      font-size: 16px;
      margin-bottom: 0;
    }
  }
  &-content {
    max-height: 250px;
    overflow-y: scroll;
    padding-right: 10px;
    &-list {
      background-color: #f6f6f6;
      border-radius: 5px;
      padding: 24px;
      margin-bottom: 20px;
      display: flex;

      @media (max-width: 768px) {
        align-items: center;
        justify-content: center;
      }
      cursor: pointer;
      display: flex;
      &:last-child {
        margin-bottom: 0;
      }
      &-title {
        font-size: 16px;
        color: #333333;
        &.active {
          color: var(--primary-color);
          font-weight: bold;
        }
      }
    }
    @media (max-width: 480px) {
      max-height: 380px;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}
